.u-section-1-1 .u-image-1 {
  min-height: 672px;
  background-image: url("images/812fd09dc9434016263ad160692a00323d153a52efc7846702dbd60ac9872d71cc7751dd133a55ca8cdfd0c5d81985fbeb9fd88d8a86b22d297eb8_1280.png");
  background-position: 0% 50%;
}

.u-section-1-1 .u-group-1 {
  min-height: 435px;
  width: 497px;
  margin: 137px 0 0 auto;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 3.75rem;
  margin: 45px 0 0;
}

.u-section-1-1 .u-text-2 {
  font-style: italic;
  margin: 30px 0 45px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-image-1 {
    min-height: 560px;
  }

  .u-section-1-1 .u-group-1 {
    min-height: 384px;
    width: 517px;
    margin-top: -359px;
    margin-right: 30px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1-1 .u-text-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-image-1 {
    min-height: 535px;
  }

  .u-section-1-1 .u-group-1 {
    min-height: 362px;
    width: 360px;
    margin-top: -337px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 35px;
  }

  .u-section-1-1 .u-text-2 {
    margin-bottom: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-image-1 {
    min-height: 518px;
  }

  .u-section-1-1 .u-group-1 {
    width: 338px;
    margin-top: -320px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-image-1 {
    min-height: 515px;
  }

  .u-section-1-1 .u-group-1 {
    min-height: 368px;
    width: 278px;
    margin-top: -212px;
    margin-right: auto;
    margin-left: 67px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.75rem;
    margin-top: 0;
  }

  .u-section-1-1 .u-text-2 {
    margin-bottom: 0;
  }
}.u-section-4-1 .u-sheet-1 {
  min-height: 763px;
}

.u-section-4-1 .u-text-1 {
  font-weight: 900;
  width: 788px;
  margin: 100px auto 0;
}

.u-section-4-1 .u-list-1 {
  margin-top: 10px;
  margin-bottom: 0;
  min-height: 439px;
  grid-template-columns: calc(25% - 8px) calc(25% - 8px) calc(25% - 8px) calc(25% - 8px);
  grid-gap: 10px 10px;
  margin-left: 0;
}

.u-section-4-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4-1 .u-image-1 {
  height: 316px;
  object-position: 50% 0%;
  margin: 21px auto 0 0;
}

.u-section-4-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 20px 127px 0 0;
}

.u-section-4-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 22px auto 0 0;
}

.u-section-4-1 .u-icon-1 {
  height: 100%;
}

.u-section-4-1 .u-icon-2 {
  height: 100%;
}

.u-section-4-1 .u-icon-3 {
  height: 100%;
}

.u-section-4-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4-1 .u-image-2 {
  height: 316px;
  margin: 21px auto 0 0;
}

.u-section-4-1 .u-text-4 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 20px 127px 0 0;
}

.u-section-4-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4-1 .u-social-icons-2 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 22px auto 0 0;
}

.u-section-4-1 .u-icon-4 {
  height: 100%;
}

.u-section-4-1 .u-icon-5 {
  height: 100%;
}

.u-section-4-1 .u-icon-6 {
  height: 100%;
}

.u-section-4-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4-1 .u-image-3 {
  height: 316px;
  margin: 21px auto 0 0;
}

.u-section-4-1 .u-text-6 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 20px 127px 0 0;
}

.u-section-4-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-4-1 .u-social-icons-3 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 22px auto 0 0;
}

.u-section-4-1 .u-icon-7 {
  height: 100%;
}

.u-section-4-1 .u-icon-8 {
  height: 100%;
}

.u-section-4-1 .u-icon-9 {
  height: 100%;
}

.u-section-4-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-4-1 .u-image-4 {
  height: 316px;
  object-position: 50% 0%;
  margin: 21px auto 0 0;
}

.u-section-4-1 .u-text-8 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 20px 127px 0 0;
}

.u-section-4-1 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-4-1 .u-social-icons-4 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 22px auto 0 0;
}

.u-section-4-1 .u-icon-10 {
  height: 100%;
}

.u-section-4-1 .u-icon-11 {
  height: 100%;
}

.u-section-4-1 .u-icon-12 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-4-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4-1 .u-list-1 {
    min-height: 362px;
    grid-template-columns: repeat(4, calc(25% - 8px));
    height: auto;
    margin-left: initial;
  }

  .u-section-4-1 .u-image-1 {
    height: 256px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4-1 .u-social-icons-1 {
    margin-right: 141px;
  }

  .u-section-4-1 .u-image-2 {
    height: 256px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4-1 .u-social-icons-2 {
    margin-right: 141px;
  }

  .u-section-4-1 .u-image-3 {
    height: 256px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4-1 .u-social-icons-3 {
    margin-right: 141px;
  }

  .u-section-4-1 .u-image-4 {
    height: 256px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-4-1 .u-social-icons-4 {
    margin-right: 141px;
  }
}

@media (max-width: 991px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 1433px;
  }

  .u-section-4-1 .u-text-1 {
    width: 720px;
  }

  .u-section-4-1 .u-list-1 {
    min-height: 1109px;
    grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px));
    margin-left: initial;
  }

  .u-section-4-1 .u-image-1 {
    height: 405px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4-1 .u-image-2 {
    height: 405px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4-1 .u-image-3 {
    height: 405px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4-1 .u-image-4 {
    height: 405px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4-1 .u-text-1 {
    width: 540px;
  }

  .u-section-4-1 .u-list-1 {
    grid-template-columns: 100%;
    margin-left: initial;
  }

  .u-section-4-1 .u-image-1 {
    height: 619px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4-1 .u-image-2 {
    height: 619px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4-1 .u-image-3 {
    height: 619px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4-1 .u-image-4 {
    height: 619px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-4-1 .u-image-1 {
    height: 381px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4-1 .u-image-2 {
    height: 381px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4-1 .u-image-3 {
    height: 381px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4-1 .u-image-4 {
    height: 381px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-block-f2a3-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-f2a3-3 {
  position: absolute;
  left: 0;
}

.u-block-f2a3-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}.u-section-2 .u-sheet-1 {
  min-height: 1170px;
}

.u-section-2 .u-text-1 {
  width: 749px;
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 639px;
  margin: 30px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 712px;
  margin-top: 112px;
  margin-bottom: 60px;
  grid-gap: 20px 20px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/c72653bd-4385-55f5-27f2-b5f458e7dcc2.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-icon-1 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/cropped-view-professional-serious-finance-manager-holding-calculator-hands-checking-company-month-s-profits_176420-7931.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-icon-2 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/handshake-close-up-executives_1098-1384.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-icon-3 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/hftgyjyt.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-icon-4 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-2 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/bf5831c7-be61-2575-6483-f38c1ca09a87.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-icon-5 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-2 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/cropped-view-of-hands-typing-on-laptop_1262-3196.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-icon-6 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1045px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-2 .u-list-1 {
    min-height: 587px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-icon-1 {
    height: 111px;
    width: 111px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-icon-2 {
    height: 111px;
    width: 111px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-icon-3 {
    height: 111px;
    width: 111px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-icon-4 {
    height: 111px;
    width: 111px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
  }

  .u-section-2 .u-icon-5 {
    height: 111px;
    width: 111px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
  }

  .u-section-2 .u-icon-6 {
    height: 111px;
    width: 111px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1470px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    grid-template-columns: calc(50% - 9.99997px) calc(50% - 9.99997px);
    min-height: 1012px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1361px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    font-size: 2.8125rem;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 926px;
    height: auto;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.375rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.375rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.375rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.375rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.375rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.375rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2182px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    grid-template-columns: 100%;
    min-height: 1742px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1182px;
}

.u-section-3 .u-text-1 {
  width: 254px;
  font-size: 2.875rem;
  margin: 60px auto 0;
}

.u-section-3 .u-table-1 {
  margin: 20px auto 60px 0;
}

.u-section-3 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-560b-4 {
  font-weight: 700;
  background-image: none;
}

.u-block-560b-51 {
  height: 33px;
}

.u-block-560b-52 {
  background-image: none;
}

.u-block-560b-53 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-block-9773-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-9773-5 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  top: 340px;
  right: auto;
}

.u-block-9773-4 {
  position: absolute;
  left: auto;
  right: 0;
  width: 65px;
  height: 65px;
}.u-section-5 .u-sheet-1 {
  min-height: 274px;
}

.u-section-5 .u-text-1 {
  width: 680px;
  font-weight: 700;
  margin: 100px auto 0;
}

.u-section-5 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-5 .u-btn-1 {
  padding: 0;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 5000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 32px auto 12px;
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 122px;
}

.u-section-6 .u-social-icons-1 {
  height: 30px;
  min-height: 16px;
  width: 195px;
  min-width: 139px;
  white-space: nowrap;
  animation-duration: 1000ms;
  margin: 22px auto 60px;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-icon-1 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-6 .u-icon-2 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-6 .u-icon-3 {
    color: rgb(33, 33, 33) !important;
  }

  .u-section-6 .u-icon-4 {
    color: rgb(33, 33, 33) !important;
  }
}