.u-section-1-1 .u-image-1 {
  min-height: 785px;
  background-image: url("images/812fd09dc9434016263ad160692a00323d153a52efc7846702dbd60ac9872d71cc7751dd133a55ca8cdfd0c5d81985fbeb9fd88d8a86b22d297eb8_1280.png");
  background-position: 10.26% 50%;
}

.u-section-1-1 .u-group-1 {
  min-height: 435px;
  width: 497px;
  height: auto;
  margin: 146px 0 60px auto;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 3.75rem;
  animation-duration: 1000ms;
  margin: 45px 0 0;
}

.u-section-1-1 .u-text-2 {
  font-style: italic;
  animation-duration: 1000ms;
  margin: 30px 0 45px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-image-1 {
    min-height: 560px;
  }

  .u-section-1-1 .u-group-1 {
    width: 517px;
    margin-top: -359px;
    margin-right: 30px;
    margin-bottom: 0;
    height: auto;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1-1 .u-text-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-image-1 {
    min-height: 535px;
  }

  .u-section-1-1 .u-group-1 {
    width: 360px;
    margin-top: 44px;
    margin-right: 38px;
    margin-bottom: 60px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 35px;
  }

  .u-section-1-1 .u-text-2 {
    margin-bottom: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-image-1 {
    min-height: 518px;
  }

  .u-section-1-1 .u-group-1 {
    width: 338px;
    margin-top: -320px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-image-1 {
    min-height: 515px;
  }

  .u-section-1-1 .u-group-1 {
    width: 278px;
    margin-top: -212px;
    margin-right: auto;
    margin-left: 67px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.75rem;
    margin-top: 0;
  }

  .u-section-1-1 .u-text-2 {
    margin-bottom: 0;
  }
}.u-block-f2a3-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-f2a3-3 {
  position: absolute;
  left: 0;
}

.u-block-f2a3-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}.u-section-2 .u-sheet-1 {
  min-height: 363px;
}

.u-section-2 .u-text-1 {
  width: 749px;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 119px auto 0;
}

.u-section-2 .u-text-2 {
  width: 888px;
  animation-duration: 1000ms;
  margin: 45px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1045px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1470px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1361px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2182px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 543px;
}

.u-section-3 .u-text-1 {
  width: 291px;
  animation-duration: 1000ms;
  margin: 70px auto 0;
}

.u-section-3 .u-list-1 {
  min-height: 388px;
  grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
  grid-gap: 10px 10px;
  margin: 46px auto 0;
}

.u-section-3 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 100px;
  width: 100px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 2px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 100px;
  width: 100px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 2px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 100px;
  width: 100px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 2px 0 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-3 .u-list-1 {
    min-height: 320px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 7px));
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-3 .u-list-1 {
    min-height: 735px;
    grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px));
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    grid-template-columns: repeat(2, calc(((100% - 540px) / 2)  + 265px));
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1146px;
}

.u-section-4 .u-text-1 {
  animation-duration: 1000ms;
  margin: 60px 466px 0;
}

.u-section-4 .u-table-1 {
  width: 888px;
  margin: 41px auto 60px;
}

.u-section-4 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-4 .u-table-header-1 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-3 {
  font-style: italic;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 366px;
    margin-right: 366px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 256px;
    margin-right: 256px;
  }

  .u-section-4 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 166px;
    margin-right: 166px;
  }

  .u-section-4 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: 66px;
    margin-right: 66px;
  }

  .u-section-4 .u-table-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1086px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 60px 441px 0;
}

.u-section-5 .u-list-1 {
  min-height: 772px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
  grid-template-rows: auto;
  width: 889px;
  margin: 41px auto 60px;
}

.u-section-5 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 220px;
  height: 220px;
  object-position: 50% 0%;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  animation-duration: 1000ms;
  margin: 30px auto 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 220px;
  height: 220px;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-5 .u-social-icons-2 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  animation-duration: 1000ms;
  margin: 30px auto 0;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-icon-5 {
  height: 100%;
}

.u-section-5 .u-icon-6 {
  height: 100%;
}

.u-section-5 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  width: 220px;
  height: 220px;
  object-position: 50% 26.23%;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-7 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-5 .u-social-icons-3 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  animation-duration: 1000ms;
  margin: 30px auto 0;
}

.u-section-5 .u-icon-7 {
  height: 100%;
}

.u-section-5 .u-icon-8 {
  height: 100%;
}

.u-section-5 .u-icon-9 {
  height: 100%;
}

.u-section-5 .u-list-item-4 {
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  width: 220px;
  height: 220px;
  margin: 0 auto;
}

.u-section-5 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-9 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-5 .u-social-icons-4 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  animation-duration: 1000ms;
  margin: 30px auto 0;
}

.u-section-5 .u-icon-10 {
  height: 100%;
}

.u-section-5 .u-icon-11 {
  height: 100%;
}

.u-section-5 .u-icon-12 {
  height: 100%;
}

.u-section-5 .u-list-item-5 {
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-image-5 {
  width: 220px;
  height: 220px;
  object-position: 0% 0%;
  margin: 0 auto;
}

.u-section-5 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-11 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-5 .u-social-icons-5 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  animation-duration: 1000ms;
  margin: 30px auto 0;
}

.u-section-5 .u-icon-13 {
  height: 100%;
}

.u-section-5 .u-icon-14 {
  height: 100%;
}

.u-section-5 .u-icon-15 {
  height: 100%;
}

.u-section-5 .u-list-item-6 {
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-image-6 {
  width: 220px;
  height: 220px;
  object-position: 50% 0%;
  margin: 0 auto;
}

.u-section-5 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-13 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-5 .u-social-icons-6 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  animation-duration: 1000ms;
  margin: 30px auto 0;
}

.u-section-5 .u-icon-16 {
  height: 100%;
}

.u-section-5 .u-icon-17 {
  height: 100%;
}

.u-section-5 .u-icon-18 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 341px;
    margin-right: 341px;
  }

  .u-section-5 .u-list-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 7px));
    height: auto;
  }

  .u-section-5 .u-social-icons-1 {
    margin-right: NaNpx;
  }

  .u-section-5 .u-icon-1 {
    color: rgb(3, 155, 229) !important;
  }

  .u-section-5 .u-icon-2 {
    color: rgb(85, 172, 238) !important;
  }

  .u-section-5 .u-icon-3 {
    color: rgb(0, 122, 185) !important;
  }

  .u-section-5 .u-social-icons-2 {
    margin-right: NaNpx;
  }

  .u-section-5 .u-icon-4 {
    color: rgb(3, 155, 229) !important;
  }

  .u-section-5 .u-icon-5 {
    color: rgb(85, 172, 238) !important;
  }

  .u-section-5 .u-icon-6 {
    color: rgb(0, 122, 185) !important;
  }

  .u-section-5 .u-social-icons-3 {
    margin-right: NaNpx;
  }

  .u-section-5 .u-icon-7 {
    color: rgb(3, 155, 229) !important;
  }

  .u-section-5 .u-icon-8 {
    color: rgb(85, 172, 238) !important;
  }

  .u-section-5 .u-icon-9 {
    color: rgb(0, 122, 185) !important;
  }

  .u-section-5 .u-social-icons-4 {
    margin-right: NaNpx;
  }

  .u-section-5 .u-icon-10 {
    color: rgb(3, 155, 229) !important;
  }

  .u-section-5 .u-icon-11 {
    color: rgb(85, 172, 238) !important;
  }

  .u-section-5 .u-icon-12 {
    color: rgb(0, 122, 185) !important;
  }

  .u-section-5 .u-social-icons-5 {
    margin-right: NaNpx;
  }

  .u-section-5 .u-icon-13 {
    color: rgb(3, 155, 229) !important;
  }

  .u-section-5 .u-icon-14 {
    color: rgb(85, 172, 238) !important;
  }

  .u-section-5 .u-icon-15 {
    color: rgb(0, 122, 185) !important;
  }

  .u-section-5 .u-social-icons-6 {
    margin-right: NaNpx;
  }

  .u-section-5 .u-icon-16 {
    color: rgb(3, 155, 229) !important;
  }

  .u-section-5 .u-icon-17 {
    color: rgb(85, 172, 238) !important;
  }

  .u-section-5 .u-icon-18 {
    color: rgb(0, 122, 185) !important;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1351px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 231px;
    margin-right: 231px;
  }

  .u-section-5 .u-list-1 {
    min-height: 1127px;
    grid-template-columns: repeat(2, calc(50% - 5.25px));
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 141px;
    margin-right: 141px;
  }

  .u-section-5 .u-list-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-left: 41px;
    margin-right: 41px;
  }

  .u-section-5 .u-list-1 {
    grid-template-columns: 100%;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 244px;
}

.u-section-6 .u-text-1 {
  width: 680px;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 70px auto 0;
}

.u-section-6 .u-text-2 {
  width: 680px;
  animation-duration: 1000ms;
  margin: 20px auto 0;
}

.u-section-6 .u-btn-1 {
  padding: 0;
}

.u-section-6 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 32px auto 12px;
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 122px;
}

.u-section-7 .u-social-icons-1 {
  height: 30px;
  min-height: 16px;
  width: 195px;
  min-width: 139px;
  white-space: nowrap;
  animation-duration: 1000ms;
  margin: 22px auto 60px;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-icon-1 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-7 .u-icon-2 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-7 .u-icon-3 {
    color: rgb(33, 33, 33) !important;
  }

  .u-section-7 .u-icon-4 {
    color: rgb(33, 33, 33) !important;
  }
}